<head>
    <meta charset="UTF-8">
</head>

<h1>환율페이지입니다.</h1>

<form action="{% url 'result' %}" method="post" >
    {% csrf_token %}
    <div class="form-group">
        원화 환전
        <input type="number" placeholder="숫자를 입력하시오" name='korea'>
        환전하고 싶은 한국 돈을 숫자로 입력하세요.
    </div>
    <br>
    <div class="buttoncollector">
        <button type="submit" name="USD">미국</button>
        <button type="submit" name="JPY">일본</button>
        <button type="submit" name="EUR">유럽연합</button>
        <button type="submit" name="CNY">중국</button>
        <button type="submit" name="GBP">영국</button>
        <button type="submit" name="AUD">호주</button>
        <button type="submit" name="CAD">캐나다</button>
        <button type="submit" name="NZD">뉴질랜드</button>
    </div>
</form>