{% if post_list %}
{% for post in  post_list %}
<div class = "post">
    <div class = "post_container">
        <div class = "post_header">
            <h2>{{post.pk}}번째 포스트 입니다</h2>
            <p>작성자 : {{post.name}}<p>    
        </div>
        <div class = "post_center">
            <p>제목 : {{post.title}}</p>
            <p>내용 : {{post.content}}</p>
        </div>
        <div class = "post_bottom">
            <p>작성시각 : {{post.create_data}}</p>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<h2>작성된 Post가 없습니다</h2>
{% endif %}